@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import "./navbar.scss";
@import "./home.scss";
@import "./fizzBuzz.scss";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
